body{
   background: #797a96;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d2d2df, #c8c9d6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a1a2b9, #c3c4d6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

